<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<p>nuevo-c works!</p>

<div class="card text-center" style="background-color:#333333d9 ; color: #FFF;">
	<img class="card-img-top" src="https://qph.fs.quoracdn.net/main-qimg-c8c5cfa13525bc8956ed85c4f06dca96" alt="Card image cap">
	
	<div class="card-body">
		<h4 class="card-title">¿Qué es Express?</h4>
		<p class="card-text">Express es un marco de aplicación web Node.js mínimo y flexible. Express 3.x es un marco de aplicación web ligero para ayudar a organizar su aplicación web en una arquitectura MVC en el lado del servidor. Puede utilizar una variedad de opciones para su lenguaje de plantillas</p>
		<a href="#" class="btn btn-primary"> VER</a>
		
	</div>
</div>